			<header>
  				<h1>Blankflank.</h1>
  				<strong>Forever without a cutiemark</strong>
			</header>
			<?php include('./templates/bootstrap/categories.html'); ?>		
			<hr>
			<?php include('./templates/bootstrap/tags.html'); ?>
			<hr>
			<dl>
				<dt>foo</dt>
				<dd>
					<ul class="unstyled">
						<li><a href="/">Blag</a></li>
						<li><a href="<?=$page_url['about']?>">About</a></li>
						<li><a href="<?=$page_url['contact']?>">Contact</a></li>
						<li><a href="<?=$page_url['resume']?>">Resume</a></li>
					</ul>
				</dd>
			</dt>
